@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans';

body {
    font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

header {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

#spin {
    position: absolute;
    margin: auto;
    text-align: center;
}

#spin i {
    color: #D1D1D1;
}

#login {
    width: 60%;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
}

#register {
    width: 35%;
    min-width: 350px;
    max-width: 400px;
    margin: auto;
}

.login-box h1, .register-box h1 {
    text-align: center;
    font-size: 2em;
}

.left, .right {
    display: block;
}

@media (max-width: 550px) {
    .left, .right {
        margin: auto;
        padding: 10px;
    }
}

.left {
    text-align: center;
}

.left h1, span {
    margin: 0;
    padding: 0;
}

.left h1 {
    font-family: 'Bree Serif', serif;
}

.left h1 a {
    text-decoration: none;
    color: #000;
}

.left h1 a:hover {
    color: #16a085;    
}

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    display: inline;
}

nav ul li {
    display: inline;    
}

nav ul li a {
    text-decoration: none;
    color: #16a085;
    padding: 8px 16px;
    font-size: 1.8rem;
}

nav ul li a:hover {
    color: #16a085;
}

.call-to-action {
    background: ffffff;
    border: 2px solid #16a085;
    color: #16a085;
    border-radius: 20px;
}

.call-to-action:hover {
    background: #16a085;
    color: #ffffff !important;
}

input {
    padding: 8px;
    outline: 0;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
}

#grid {
    width: 100%;
    clear: both;
}

.grid-item {
    width: 25%;
    padding: 2px;
    display: none;
    transition: 0.4s filter;
    filter: grayscale(80%) contrast(110%);
}

.grid-item:hover {
    transition: 0.4s all;
    filter: none;
}

@media (max-width: 550px) {
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 550px) and (max-width: 750px) {
    .grid-item {
        width: 50%;
    }
}

.error {
    background: #FF9494;
    border: 1px solid #F42D10;
}

.success {
    background: #C1E1A6;
    border: 1px solid #A8CD1B;    
}

.error, .success {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.error i, .success i {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.error p, .success p {
    padding: 0;
    margin: 0;
}

.error a, .success a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
}

.upload-box {
    height: 200px;
    border: 6px dashed #bbb;
    color: #bbb;
    margin: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.upload-wrapper {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
}

.upload-box i {
    font-size: 3em;
    margin: 10px;
}

.upload-box p {
    font-size: 0.75em;
    line-height: 1;
    text-transform: uppercase;
}

@media (min-width: 750px) and (max-width: 1000px) {
    .grid-item {
        width: 33.33%;
    }
}

.wide-display {
    width: 100%;
    max-width: 100%;
}



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
